/* Global Styles */
body {
    font-family: 'Roboto', Arial, sans-serif;
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

/* Header */
.navbar {
    background-color: #007bff !important; /* Navbar background color */
     font-size: 1.25rem;
}

.navbar-brand,
.navbar-nav .nav-link {
    color: #ffffff !important; /* Navbar text color */
}

.navbar-brand:hover,
.navbar-nav .nav-link:hover {
    color: #f8f9fa !important; /* Navbar text color on hover */
}

/* Footer */
footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

/* Buttons */
.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}

/* Alerts */
.alert {
    margin-bottom: 20px;
}

/* Tables */
.table-wrapper {
    overflow-x: auto; /* Horizontal scrollbar if table overflows */
}

table {
    width: 100%; /* Full width */
    border-collapse: collapse;
    table-layout: fixed; /* Fixed table layout */
}

th, td {
    padding: 12px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    word-wrap: break-word; /* Word wrapping */
}

th:first-child, td:first-child {
    width: 10%; /* Width of first column */
}

th:nth-child(2), td:nth-child(2) {
    width: 10%; /* Width of second column */
}

th:nth-child(3), td:nth-child(3) {
    width: auto; /* Width of third column */
}

th:last-child, td:last-child {
    width: 10%; /* Width of last column */
}

tr:hover {
    background-color: #f5f5f5;
}

.event-data {
    width: 100%; /* Full width */
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowing text */
    text-overflow: ellipsis; /* Ellipsis for overflowing text */
}

/* Task Detail Page */
.card {
    margin-top: 30px;
}

.card-title {
    font-size: 2rem;
    margin-bottom: 20px;
}

.card-text {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.badge-success {
    background-color: #28a745;
}

.badge-danger {
    background-color: #dc3545;
}
