{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container">
        <div class="card my-5">
            <div class="card-body">
                <h1 class="card-title">{{ task.title }}</h1>
                <p class="card-text">{{ task.description }}</p>
                <p class="card-text">Completed: {% if task.completed %}<span class="badge badge-success">Yes</span>{% else %}<span class="badge badge-danger">No</span>{% endif %}</p>
            </div>
        </div>
    </div>
{% endblock %}
